@import "../node_modules/bootstrap-scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//Paleta
$main: rgb(0, 98, 65);
$secondary: rgb(30, 57, 50);
$grey:rgb(155, 155, 155);
$light-grey: #f2f0eb;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);



*{
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 50px;
    color: $white;
}

body{
    background-color: $black;
}

.f-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.linea-links{
    position: relative;
    padding-bottom: 10px;
    transition: color 140ms ease-in-out;
    &:after{
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        height: 2px ;
        width: 0%;
        background-color: $secondary;
        transition: width 140ms ease-in-out;
    }
    &:hover{
        color: $secondary;
        &:after{
            width: 100%;
        }
    }
}

button.btn-search{
    border: 1px solid $grey !important; 
    border-radius: 200px !important;
    padding: 8px 10px;
    padding-right: 50px;
    svg{
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 10px;
        background-color: hsla(0, 0, 100%, 0.1);
        border-radius: 50%;
        transition: background-color 0.5s ease;
    }
    
}

a{
    text-decoration: none;
    color: $white;   
}

@import 'partials/styles';
