#front #front-first-block{
    background: url('https://www.starbucksathome.com/es/sites/default/files/styles/homepage_banner_xlarge/public/2024-03/STARBUCKS_NESPRESSO_WEBSITE_HOME%20PAGE_%20HERO%20BANNER_DESKTOP_1440x830_v2_Clean%402x.jpg?h=cf77c377&itok=Y5YXJkcR') no-repeat center;
    height: 1000px;
    background-size: 100%;
    h1{
        padding-top: 200px;
    }
}